@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Pacifico:regular);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #0077ff;
  --secondary: #00e7df;
  --line-end: #009aff;
  --text: #006cff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #17181f;
  font-family: "Montserrat";
  font-weight: 500;
}

* {
  @apply transition-all duration-150 ease-in-out;
}

html {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* CUSTOM SCROLLBAR */

body::-webkit-scrollbar {
  display: none;
}

.logo {
  font-family: "Pacifico";
  font-size: 30px;
}

/* Icon Button Style */

.icon {
  @apply h-6 w-6 text-gray-300 cursor-pointer;
}

.header-left-li {
  @apply flex gap-2;
}

.sidebar-item-label {
  @apply p-5 font-bold text-gray-200 text-[18px];
}

.trashIcon {
  color: var(--color);
}

.addMoreIcon:hover {
  color: var(--color);
}

.subTaskCount {
  color: var(--color);
}

.menu-button {
  @apply flex flex-row items-center gap-2 py-3 px-5 hover:bg-indigo-500;
}


.button{
@apply border border-[#414052] py-[6px] px-3 rounded-2xl text-[13px]
}

.button-tile{
  @apply flex w-full items-center gap-2 py-[8px] px-3 hover:bg-[#4d4c5e]
}